[submodule "crates/russimp-sys-static/assimp"]
	path = crates/russimp-sys-static/assimp
	url = https://github.com/assimp/assimp.git
[submodule "crates/filament-bindings/filament"]
	path = crates/filament-bindings/filament
	url = https://github.com/google/filament.git
[submodule "crates/mtlx-helper/MaterialX"]
	path = crates/mtlx-helper/MaterialX
	url = https://github.com/AcademySoftwareFoundation/MaterialX
[submodule "crates/alembic-sys/Imath"]
	path = crates/alembic-sys/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath
[submodule "crates/alembic-sys/alembic"]
	path = crates/alembic-sys/alembic
	url = https://github.com/alembic/alembic
